<Body:>
  <h2>
    {{#if _page.area.id}}
      Edit {_page.area.name}
      <a x-bind="click: deleteArea" style="float:right;margin-top:3px" class="btn btn-danger">Delete</a>
    {{else}}
      Add a New Area
    {{/}}
  </h2>
  <p></p>
  <form x-bind="submit: saveArea" >
    <app:field label="Name" error={_page.nameError}>
      <input type="text" id="name" value={_page.area.name} autofocus={{not(_page.area.id)}}>
    </app:field>
    <p></p>
    <button class="btn btn-primary" type="submit">
      {{#if _page.area.id}}Done{{else}}Add area{{/}}
    </button>
    {{#unless _page.area.id}}
      &sp;<button class="btn" type="button" x-bind="click: cancel">Cancel</button>
    {{/}}
  </form>
</div>

<field: nonvoid>
  <fieldset class="{#if @error}error{/}">
    <label>{{@label}}</label>
    {{@content}}
  </fieldset>
