<Body:>
    <h1>Welcome to Nehemiah</h1>
    <p>This application allows you to administer inscriptions for Assembly events, like GVs, AGMs and MBPs.</p>
    <div class="selectbox">
        <h3>Create or View AG Registration</h3>
        <form action="registrations/ag" method="get">
    	   	<select name="agName">
        		{{#each agNames as :agName}}
            		<option>{:agName}</option>
            	{{/}}
          	</select>
            <select name="season">
        		{{#each seasons as :season}}
            		<option>{{:season}}</option>
            	{{/}}
            </select>
            <select name="year">
                {{#each years as :year}}
                    <option>{{:year}}</option>
                {{/}}
            </select>
            <button type="submit">
          		Go
        	</button>
        </form>
    </div>

<field: nonvoid>
  <fieldset class="control-group {#if @error}error{/}">
    <label>{{@label}}</label>
    {{@content}}
  </fieldset>