<import: src="./admin">
<import: src="./edit">
<import: src="./home">
<import: src="./registrations">
<import: src="./areas/list" ns="areas/list">
<import: src="./areas/edit" ns="areas/edit">
<import: src="./ags/list" ns="ags/list">
<import: src="./ags/edit" ns="ags/edit">
<import: src="./seasons/list" ns="seasons/list">
<import: src="./seasons/edit" ns="seasons/edit">
<import: src="./events/list" ns="events/list">
<import: src="./events/edit" ns="events/edit">

<Title:>
  Derby Nehemiah - CAI Applications

<Header:>
  <ui:connectionAlert>
  <div id="page">
    <img src="/img/cai-apps.png" id="cai-apps" alt="CAI Applications">
    <img src="/img/nehemiah.png" id="nehemiah" alt="Nehemiah">
    <div id="nav">
      <ul>
        <app:navLink title="Home" href="/">
        <app:navLink title="Administer" href="/admin">
      </ul>
    </div>

<Footer:>
    <hr>
    <footer>
      <p>Built by Fletch.</p>
    </footer>
  </div>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
