<import: src="./home">
<import: src="./edit">
<import: src="./registrations">

<Title:>
  Derby Nehemiah - CAI Applications

<Header:>
  <ui:connectionAlert>
  <div id="page">
    <img src="/img/cai-apps.png" id="cai-apps" alt="CAI Applications">
    <img src="/img/nehemiah.png" id="nehemiah" alt="Nehemiah">
    <div id="nav">
      <ul>
        <app:navLink title="Home" href="/">
        <app:navLink title="Administer" href="/home/admin">
      </ul>
    </div>

<Footer:>
    <hr>
    <footer>
      <p>Built by Fletch. This is an open source app.</p>
    </footer>
  </div>

<navLink:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>
